body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

a {
  color: #0074D9;
  text-decoration: none;
}

ol, ul {
  padding-left: 30px;
}

h3 {
  clear: both;
}

h3 + .square {
  margin-bottom: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 39px;
  margin-top: -10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 110px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 110px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.moves {
  font-size: 20px;
}

.home {
  font-size: 50px;
}

ol > .ng {
  margin-left: -30px;
}
